body{
    background-color:rgb(191, 241, 198);
}
h1 {
    color: rgb(19, 102, 226);
    text-align: center;
}
p { margin: 10px;
    font-size:20px;
}
 img {
    margin: 10px;
    border-radius:100%;
    width:150px ;
    height:100px ;
}

td {
    padding: 10px;
    text-align: center;  
}
#link { 
    color: black;
    font-size:20px;
    text-decoration: none; 
    text-transform: capitalize;
}
:hover #link {
    color: rgb(235, 16, 16);
}

