
  

body {
  background-color: hsl(188, 29%, 67%);
}
h1 {
  background-color:cadetblue;
  margin:px;
  padding:30px;
  color:azure;
  text-align:center;
}
p {
  margin:20px 300px;
  padding: 30px;
  font-size: 23px;
  text-align:justify;
}
button{
  background-color: cadetblue;
  font-size:12px; 
}
#mensagem{
  background-color: cadetblue;
  font-size:25px;
  font-family:'Gill Sans', 'Gill Sans MT';
  color:rgb(220, 223, 43);
  width:fit-content;
  text-align: center;
}
#musica {
  border:5px solid cadetblue ;
  margin:10px 700px 10px 700px; 
  text-align: center;
  border-radius:50%;
  width: 200px;
  height:175px;
}
ul li {
  background-color: cadetblue;
  font-size:25px;
  width:fit-content;
}
.tabela{
  background-color: cadetblue;
  margin:10px 550px 10px 550px;
  width:500px;
  border-radius: 20px;
}
img {
  border-radius: 20px;
  width:170px;
  height:120px;
}
 tr td {
  background-color:cadetblue;
  font-size:20px;
  padding:5px;
  text-align:center;
  margin: 30px;
  border-radius: 20px;
}
.link {
  background-color:cadetblue;
  margin:10px 700px 10px 700px;
  padding: 10px;
  color: rgb(8, 8, 8);
  font-size: 23px;
  text-decoration:none;
  border-radius:15px;
}
.link:hover {
  background-color: rgb(221, 245, 6);
  color:brown;
}
